.modal-close__button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--modal-close-btn-color);
    fill: var(--title-text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }

}

.modal-close__icon {
    width: 18px;
    height: 18px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
