.modal-form__icon--check {
    top: 0;
    left: 12px;
    position: absolute;
    width: 18px;
    height: 18px;
    transform: translateY(11px);
}


.modal-politic__icon--check {
    display: block;
    min-width: 15px;
    min-height: 15px;
    border: 1px solid var(--title-text-color);
    border-radius: 2px;
    cursor: pointer;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

}

.modal-politic__checkbox:checked+.modal-politic__icon--check {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;


    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-size: contain;
    background-origin: border-box;

}