.hero__button {
    display: inline-block;
    border: none;
    border-color: transparent;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--secondary-button-color);
    }
}


   