.page-footer {
    background-color: var(--primary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.page-footer__container {
    margin-bottom: 60px;

    @media screen and (min-width:1200px) {
        margin-bottom: 0;
    }
}

.page-footer__address .address__list li+li {
    display: block;
    margin-top: 12px;
}

.page-footer__container--flex {
   
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }

    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
        
    }
    
}


