.mobile-menu {
    // display: flex;
    // justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-white-color);
    z-index: 999;

    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    @media screen and (min-width:768px) {
        display: none;
    }
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 48px 40px;

}

// .mobile-menu__top {

// }

// .mobile-menu__bottom {

// }

.mobile-menu__item {
    &:not(:last-child) {
         margin-bottom: 32px;
    }
}

.mobile-menu__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration-line: none;
}

.mobile-menu__list .mobile-menu__link.current {
    color: var(--accent-color);
}

.mobile-menu__list--contact {
    margin-bottom: 64px;
}

.mobile-menu__list--contact li+li {
    margin-top: 32px;
}

.mobile-menu__link--envelope {
    color: var(--link-contact-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
}
.mobile-menu__link--smartphone {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.mobile-menu__list--social {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width:1200px) {
        display: none;
    }
}

.mobile-menu__item--social {
    position: relative;
    align-items: center;
    &:not(:last-child)::after {
    
            position: absolute;
            top: 40%;
            left: 100%;
            display: block;
            content: '';
            background-color: var(--primary-border-color);
            border: 1px solid var(--primary-border-color);
            width: 22px;
            height: 0;
            transform: rotate(90deg);
    
        }
    
}

.mobile-menu__item--social:not(:last-child) {
    margin-right: 20px;
}

.mobile-menu__link--social {
   
    color: var(--accent-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration-line: none;
    
}

